dash>=3.2.0
dash-bootstrap-components>=2.0.4
dash-uploader>=0.6.1
matplotlib>=3.10.7
narwhals>=2.8.0
numpy>=2.3.3
openpyxl>=3.1.5
pandas>=2.3.3
plotly>=6.3.1
psutil>=7.0.0
pyarrow>=21.0.0
scikit-learn>=1.7.2
scikit-posthocs>=0.11.4
scipy>=1.16.2
wakepy>=0.10.2.post1
xgboost>=3.1.0
xlsxwriter>=3.2.9