dash>=3.1.1
dash-bootstrap-components>=2.0.3
matplotlib>=3.10.1
narwhals>=1.42.1
numpy>=2.3.0
openpyxl>=3.1.5
pandas>=2.2.3
plotly>=6.2.0
scikit_learn>=1.7.0
scikit_posthocs>=0.11.4
scipy>=1.15.2
xgboost>=3.0.2
xlsxwriter>=3.2.3